<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings"
                      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WorkDataStudio.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a"
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <WorkDataStudio.Properties.Settings>
            <setting name="Prg_Ver" serializeAs="String">
                <value>Ver 2.00</value>
            </setting>
            <setting name="Prg_Mode" serializeAs="String">
                <value>MUKAISHIMA</value>
            </setting>
            <setting name="End_Time" serializeAs="String">
                <value>22:20:00</value>
            </setting>
            <setting name="Server_Ip" serializeAs="String">
                <value>192.168.200.4</value>
            </setting>
            <setting name="MC_Protocol" serializeAs="String">
                <value>1E</value>
            </setting>
            <setting name="PLC_Host" serializeAs="String">
                <value>192.168.11.99</value>
            </setting>
            <setting name="PLC_Port" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="PLC_Timeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="DB_Host" serializeAs="String">
                <value>10.211.55.2</value>
            </setting>
            <setting name="DB_Port" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="DB_Name" serializeAs="String">
                <value>onozo_202409</value>
            </setting>
            <setting name="DB_User" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="DB_Pass" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="Log_Write" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Log_Path" serializeAs="String">
                <value>//Mac/Home/Documents/ONOZO/RiderProjects/Log</value>
            </setting>
            <setting name="Log_File_Path" serializeAs="String">
                <value>//Mac/Home/Documents/ONOZO/RiderProjects/Log/TanbanLog.txt</value>
            </setting>
            <setting name="Dev_Path" serializeAs="String">
                <value>//Mac/Home/Documents/ONOZO/RiderProjects/Debug/BackendMonitor</value>
            </setting>
        </WorkDataStudio.Properties.Settings>
    </userSettings>
</configuration>